{% extends "base.html" %}

{% block content %}
  <h1>Update Ticket</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}<br>
      {{ form.title(size=32) }}<br>
      {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>
      {{ form.status.label }}<br>
      {{ form.status() }}<br>
      {% for error in form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>
      {{ form.note.label }}<br>
      {{ form.note(size=32) }}<br>
      {% for error in form.note.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    {% if "manager" in roles or "admin" in roles%}
      {% if form.users.choices %}
        <div>
          {{ form.users.label }}<br>
          {% for subfield in form.users %}
            <div>
              {{ subfield() }} {{ subfield.label }}
            </div>
          {% endfor %}<br>
        </div>
      {% else %}
        <p>
          There are no users in group
        </p>
      {% endif %}
    {% endif %}
    {{ form.submit() }}
  </form>
  <a href="{{ url_for('tickets_bp.tickets_list') }}">Back to ticket list</a>
{% endblock %}
