{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ ticket.title }}</h1>
  <p>Status: {{ ticket.status.value }}</p>
  {% if ticket.note %}
    <p>Note: {{ ticket.note }}</p>
  {% endif %}
  <p>Group: {{ ticket.group.name }}</p>
  {% if ticket.users.all() %}
    <p>Users: {{ ticket.users.all() }}</p>
  {% endif %}
  <a href="{{ url_for('tickets_bp.tickets_update', ticket_id=ticket.id) }}">Edit</a>
  <form method="POST" action="{{ url_for('tickets_bp.tickets_delete', ticket_id=ticket.id) }}">
    <button type="submit">Delete</button>
  </form>
{% endblock %}
